
.badge.badge-default {
    background-color: #636c72;
  }
  
  .badge.badge-default[href]:focus, .badge-default[href]:hover {
    background-color: #4b5257;
  }
  
  .badge.badge-primary {
    background-color: #0275d8;
  }
  
  .badge.badge-primary[href]:focus, .badge-primary[href]:hover {
    background-color: #025aa5;
  }
  
  .badge.badge-success {
    background-color: #5cb85c;
  }
  
  .badge.badge-success[href]:focus, .badge-success[href]:hover {
    background-color: #449d44;
  }
  
  .badge.badge-info {
    background-color: #5bc0de;
  }
  
  .badge.badge-info[href]:focus, .badge-info[href]:hover {
    background-color: #31b0d5;
  }
  
  .badge.badge-warning {
    background-color: #f0ad4e;
  }
  
  .badge.badge-warning[href]:focus, .badge-warning[href]:hover {
    background-color: #ec971f;
  }
  
  .badge.badge-danger {
    background-color: #d9534f;
  }
  
  .badge.badge-danger[href]:focus, .badge-danger[href]:hover {
    background-color: #c9302c;
  }
  