<input type="file" #fileUpload (change)="fileChange($event)" placeholder="Upload file" accept=".json">
<br>
<div *ngIf="substituicaoRealizada" class="alert alert-success" role="alert">Cache atualizado</div>

<ng-container *ngIf="configAplicacaoArquivo">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Arquivo carregado</div>
        <div class="panel-body">
          <my-visualizacao [configAplicacao]="configAplicacaoArquivo"></my-visualizacao>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" i18n="Título configuração em cache|Título que indica o conteúdo carregado em memória@@cargaArquivoEmCache">Em cache</div>
        <div class="panel-body">
          <my-visualizacao [configAplicacao]="configAplicacaoCache"></my-visualizacao>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid">


    <div class="alert alert-warning" role="alert">
      <h3 i18n="Confirmação de substitição|Título de confirmação para substituição do conteúdo carregado em memória pelo novo arquivo@@cargaArquivoQuestionamentoSubstituir">
        Substituir as informações em cache pelo arquivo selecionado?
      </h3>
      <br>
      <button type="button" class="btn btn-warning" (click)="substituirCache()"
      i18n="Botão de confirmação de substitição|Label do botão de confirmação para substituição do conteúdo carregado em memória pelo novo arquivo@@cargaArquivoConfirmacaoSubstituir">Substituir</button>
    </div>
  </div>
</ng-container>