<ng-container *ngIf="stepId==='infoApp'" i18n="Título etapa assistente|Informações gerais da aplicação@@assistCriacaoItemInfoApp">Informações sobre a aplicação</ng-container>
<ng-container *ngIf="stepId==='logicDomain'" i18n="Título etapa assistente|Agrupamento lógico@@assistCriacaoItemLogicDomain">Definição de dominios lógicos</ng-container>
<ng-container *ngIf="stepId==='logicDomainFeatures'" i18n="Título etapa assistente|Funcionalidades do grupamento lógico@@assistCriacaoItemLogicDomainFeatures">Definição de funcionalidades dos domínios lógicos</ng-container>
<ng-container *ngIf="stepId==='routes'" i18n="Título etapa assistente|Rotas da aplicação@@assistCriacaoItemRoutes">Definição de rotas</ng-container>
<ng-container *ngIf="stepId==='scripts'" i18n="Título etapa assistente|Geração de scripts@@assistCriacaoItem">Geração de scripts</ng-container>
