<p i18n="Pergunta do título|Questionamento para deixar claro o objetivo da tela@@assistFuncPerguntaTitulo">Quais serão as funcionalidades dentro de cada domínio lógico da aplicação?</p>
<details>
  <summary i18n="Título do menu recolhível|Título identificando o menu de explicação@@assistFuncExplicacaoTitulo">Explicação</summary>
  <p i18n="Objetivo da etapa|Explicação do objetivo da etapa@@assistFuncExplicacaoEtapa">Aqui serão definidas as funcionalidades para cada domínio.</p>
  <p i18n="Exemplo|Título exemplo@@assistFuncExplicacaoExemploTitulo">Ex.: Em um sistema ERP</p>
  <ul>
    <li><ng-content i18n="Exemplo|Exemplo de dominio@@assistFuncExplicacaoExemploDominio1">Cliente</ng-content>
      <ul>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio1Func1">Listar clientes</li>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio1Func2">Criar novo cliente</li>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio1Func3">Alterar dados de um cliente</li>
      </ul>
    </li>
    <li><ng-content i18n="Exemplo|Exemplo de dominio@@assistFuncExplicacaoExemploDominio2">Estoque</ng-content>
      <ul>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio2Func1">Listar estoque</li>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio2Func2">Registrar compra</li>
      </ul>
    </li>
    <li><ng-content i18n="Exemplo|Exemplo de dominio@@assistFuncExplicacaoExemploDominio3">Venda</ng-content>
      <ul>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio3Func1">Registrar venda</li>
      </ul>
    </li>
    <li><ng-content i18n="Exemplo|Exemplo de dominio@@assistFuncExplicacaoExemploDominio4">Emissão de notas</ng-content>
      <ul>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio4Func1">Emitir nota</li>
        <li i18n="Exemplo|Exemplo de funcionalidade@@assistFuncExplicacaoExemploDominio4Func2">Consultar notas emitidas</li>
      </ul>
    </li>
  </ul>
</details>
<div class="panel-group" id="accordion">
  <div *ngFor="let itemDominio of dominiosLogicos" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" (click)="dominioEdicao=itemDominio">
          {{itemDominio.nome}} {{itemDominio.descricao ? '('+itemDominio.descricao+')':'' }}
            <my-badge [quantidade]="itemDominio.funcionalidades.length"
            zero="Nenhuma funcionalidade" um="1 funcionalidade" plural="funcionalidades"></my-badge>
        </a>
      </h4>
    </div>
    <div [ngClass]="{'panel-collapse collapse':true, 'in':dominioEdicao===itemDominio}">
      <div *ngIf="dominioEdicao===itemDominio" class="panel-body">
        <ul class="list-group" myClickOutListener (clickedOut)="funcionalidadeEdicao=null">
          <my-lista *ngFor="let itemFuncionalidade of itemDominio.funcionalidades" [lista]="itemDominio.funcionalidades" [item]="itemFuncionalidade"
            (change)="estruturaAplicacaoService.dominioModificado=true" (click)="funcionalidadeEdicao = itemFuncionalidade">

            <ng-container *ngIf="itemFuncionalidade!==funcionalidadeEdicao">
              {{itemFuncionalidade.nome}} {{itemFuncionalidade.descricao ? '('+itemFuncionalidade.descricao+')':'' }}
            </ng-container>
            
            <form *ngIf="itemFuncionalidade===funcionalidadeEdicao">
              <fieldset>
                <div class="input-group">
                  <label for="nomeFuncionalidade" class="input-group-addon" id="func-addon" 
                  i18n="Label do campo funcionalidade|Label exibido ao lado do campo de funcionalidade@@assistFuncCampoFuncLabel">Funcionalidade</label>
                  <input class="form-control" placeholder="Ex.: CadastrarCliente" type="text" id="nomeFuncionalidade" [(ngModel)]="funcionalidadeEdicao.nome"
                    [myFocus]="itemDominio===dominioEdicao" name="nomeFuncionalidade">
                </div>
                <div class="input-group">
                  <label for="descricaoFuncionalidade" class="input-group-addon" id="descfunc-addon"
                  i18n="Label do campo decrição funcionalidade|Label exibido ao lado do campo de descrição da funcionalidade@@assistFuncCampoDescricaoFuncLabel">Descrição</label>
                  <input class="form-control" placeholder="Ex.: Cadastrar clientes" type="text" id="descricaoFuncionalidade" [(ngModel)]="funcionalidadeEdicao.descricao"
                    name="descricaoFuncionalidade">
                </div>
              </fieldset>
            </form>
          </my-lista>
          <br>
          <button class="btn btn-success" (click)="adicionarFuncionalidade()" i18n="Botão nova funcionalidade|Nome do botão de criação de funcionalidade@@assistFuncBotaoNovaFuncionalidade">Nova funcionalidade</button>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <fieldset>
  <legend>Funcionalidades dos domínios lógicos definidos</legend>
  <ul class="list-group">
    <li [ngClass]="{'list-group-item':true,'border border-primary':itemDominio===dominio}" *ngFor="let itemDominio of dominiosLogicos" 
    (click)="dominio = itemDominio">
      <span *ngIf="itemDominio===dominio">>></span>{{itemDominio.nome}} ({{itemDominio.descricao}})
      <ul class="list-group">
          <my-lista *ngFor="let itemFuncionalidade of itemDominio.funcionalidades" 
          [lista]="itemDominio.funcionalidades" [item]="itemFuncionalidade">
            {{itemFuncionalidade.nome}} ({{itemFuncionalidade.descricao}})
          </my-lista>
        </ul>
    </li>
  </ul>
</fieldset> -->