<p>Quais serão os domínios lógicos da aplicação?</p>
<details>
  <summary>Explicação</summary>
  <p>Aqui serão definidas as funcionalidades gerais da aplicação.</p>
  <p>Cada domínio lógico será carregado sob demanda ao acionar uma rota.</p>
  <p>Ex.: Em um sistema ERP</p>
  <ul>
    <li>Cliente (agrupando CRUD e listagem de clientes)</li>
    <li>Estoque (agrupando CRUD e listagem de estoque)</li>
    <li>Venda (Gerenciamento das vendas)</li>
    <li>Emissão de notas</li>
  </ul>
</details>

<fieldset *ngIf="estruturaAplicacaoService.dominiosLogicos.length">
  <legend>Domínios lógicos definidos</legend>
  <ul class="list-group">
    <my-lista *ngFor="let item of estruturaAplicacaoService.dominiosLogicos" [lista]="estruturaAplicacaoService.dominiosLogicos"
      [item]="item" (change)="estruturaAplicacaoService.dominioModificado=true">
      {{item.nome}} ({{item.descricao}})
    </my-lista>
  </ul>
</fieldset>

<form #dominioForm="ngForm">
  <fieldset>
    <legend>Domínio lógico</legend>
    <label for="nomeDominio">Domínio:</label>
    <input type="text" id="nomeDominio" [(ngModel)]="model.nome" name="nomeDominio">
    <label for="descricaoDominio">Descrição:</label>
    <input type="text" id="descricaoDominio" [(ngModel)]="model.descricao" name="descricaoDominio">
    <button (click)="adicionar()">+</button><br>
  </fieldset>
</form>