
.commandBash, .tsFile {
    padding: 10px;
}

.commandBash {
    font-family: Courier, 'New Courier', monospace;
    font-size: 12px;
    color: lightgray;
    background-color: #000000;
}

.tsFile {
    font-family: 'Droid Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback';
    background-color:  #383838;
    /* color: white; */
    color: #55b8e2;
}