<p i18n="Pergunta do título|Questionamento para deixar claro o objetivo da tela@@assistRotaPerguntaTitulo">Quais serão as rotas (urls) da aplicação?</p>
<details>
  <summary i18n="Título do menu recolhível|Título identificando o menu de explicação@@assistRotaExplicacaoTitulo">Explicação</summary>
  <p i18n="Objetivo da etapa|Explicação do objetivo da etapa@@assistRotaExplicacaoEtapa">Aqui serão definidas as rotas (urls) para cada domínio.</p>
  <p i18n="Exemplo|Título exemplo@@assistRotaExplicacaoExemploTitulo">Ex.: Em um sistema ERP</p>
  <ul>
    <li><ng-content i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio1">Cliente [/clientes]</ng-content>
      <ul>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio1Func1">Listar clientes [/clientes/]</li>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio1Func2">Criar novo cliente [/clientes/novo]</li>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio1Func3">Alterar dados de um cliente [/clientes/:id]</li>
      </ul>
    </li>
    <li><ng-content i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio2"></ng-content>Estoque [/estoque]
      <ul>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio2Func1">Listar estoque [/estoque/]</li>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio2Func2">Registrar compra [/estoque/adicionar]</li>
      </ul>
    </li>
    <li><ng-content i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio3"></ng-content>Venda [/vendas]
      <ul>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio3Func1">Registrar venda [/vendas/]</li>
      </ul>
    </li>
    <li><ng-content i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio4">Emissão de notas [/notas]</ng-content>
      <ul>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio4Func1">Emitir nota [/notas/emitir]</li>
        <li i18n="Exemplo|Exemplo de rota@@assistRotaExplicacaoExemploRotaDominio4Func2">Consultar notas emitidas [/notas/]</li>
      </ul>
    </li>
  </ul>
</details>

<fieldset>
  <legend i18n="Título|Titulo funcionalidade dos dominios@@assistRotaTituloFuncDom">Funcionalidades dos domínios lógicos definidos</legend>
  <ul>
    <li *ngFor="let itemDominio of dominiosLogicos">
      {{itemDominio.nome}} ({{itemDominio.descricao}})
      <label for="rotaDominio" i18n="Label|Label do campo rota do dominio@@assistRotaLabelRotaDom">Rota do domínio</label>
      <input type="text" id="rotaDominio" [(ngModel)]="itemDominio.rota" name="rotaDominio">
      <ul>
        <li *ngFor="let itemFuncionalidade of itemDominio.funcionalidades">
          {{itemFuncionalidade.nome}} ({{itemFuncionalidade.descricao}})
          <label for="rotaFuncionalidade" 
          i18n="Label|Label do campo rota da funcionalidade@@assistRotaLabelRotaFunc">Rota da funcionalidade</label> [{{itemDominio.rota}}/
          <input type="text" id="rotaFuncionalidade" [(ngModel)]="itemFuncionalidade.rota" name="rotaFuncionalidade">]
        </li>
      </ul>
    </li>
  </ul>
</fieldset>