<p>Quais serão as rotas (urls) da aplicação?</p>
<details>
  <summary>Explicação</summary>
  <p>Aqui serão definidas as rotas (urls) para cada domínio.</p>
  <p>Ex.: Em um sistema ERP</p>
  <ul>
    <li>Cliente [/clientes]
      <ul>
        <li>Listar clientes [/clientes/]</li>
        <li>Criar novo cliente [/clientes/novo]</li>
        <li>Alterar dados de um cliente [/clientes/:id]</li>
      </ul>
    </li>
    <li>Estoque [/estoque]
      <ul>
        <li>Listar estoque [/estoque/]</li>
        <li>Registrar compra [/estoque/adicionar]</li>
      </ul>
    </li>
    <li>Venda [/vendas]
      <ul>
        <li>Registrar venda [/vendas/]</li>
      </ul>
    </li>
    <li>Emissão de notas [/notas]
      <ul>
        <li>Emitir nota [/notas/emitir]</li>
        <li>Consultar notas emitidas [/notas/]</li>
      </ul>
    </li>
  </ul>
</details>

<fieldset>
  <legend>Funcionalidades dos domínios lógicos definidos</legend>
  <ul>
    <li *ngFor="let itemDominio of dominiosLogicos">
      {{itemDominio.nome}} ({{itemDominio.descricao}})
      <label for="rotaDominio">Rota do domínio:</label>
      <input type="text" id="rotaDominio" [(ngModel)]="itemDominio.rota" name="rotaDominio">
      <ul>
        <li *ngFor="let itemFuncionalidade of itemDominio.funcionalidades">
          {{itemFuncionalidade.nome}} ({{itemFuncionalidade.descricao}})
          <label for="rotaFuncionalidade">Rota da funcionalidade:</label> [{{itemDominio.rota}}/
          <input type="text" id="rotaFuncionalidade" [(ngModel)]="itemFuncionalidade.rota" name="rotaFuncionalidade">]
        </li>
      </ul>
    </li>
  </ul>
</fieldset>